<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Product Catalog</title>

<script src="https://cdn.tailwindcss.com"></script>

<style>
.category-btn.active{
    background:#0891b2;
    color:white;
}
</style>

</head>
<body class="bg-slate-50">

<!-- Navbar -->
<nav class="bg-white shadow-sm border-b">
    <div class="max-w-7xl mx-auto px-6 h-20 flex items-center justify-between">

        <!-- Logo -->
        <a href="/" class="flex items-center">
            <img
                src="../static/images/brand_logo.png"
                alt="Shahid Enterprises"
                class="h-12 w-auto">
        </a>

        <!-- Navigation -->
        <div class="hidden md:flex items-center gap-8">
            <a href="/" class="hover:text-cyan-600">Home</a>
            <a href="/catalog/" class="hover:text-cyan-600">Products</a>
            <a href="/catalog/" class="hover:text-cyan-600">Categories</a>
            <a href="/contact-us/" class="hover:text-cyan-600">Contact</a>
        </div>

        <!-- Actions -->
        <div class="flex items-center gap-4">
            <a href="/cart/"><button class="hover:text-cyan-600">
                Cart
            </button></a>

            {% if request.session.is_authenticated %}
            <a href="/logout/">
                <button class="px-4 py-2 bg-rose-600 text-white rounded-lg hover:bg-rose-700 transition">
                    Logout
                </button>
            </a>
            {% else %}
            <a href="/signin/">
                <button class="px-4 py-2 bg-cyan-600 text-white rounded-lg hover:bg-cyan-700 transition">
                    Login
                </button>
            </a>
            {% endif %}
        </div>

    </div>
</nav>

<!-- Hero -->
<section class="bg-gradient-to-r from-cyan-500 to-blue-600 text-white">

    <div class="max-w-7xl mx-auto px-6 py-20">

        <h1 class="text-5xl font-bold">
            Discover Amazing Products
        </h1>

        <p class="mt-4 text-lg text-cyan-100 max-w-2xl">
            Electronics, Fashion, Beauty, Home, Sports and much more.
        </p>

        <button class="mt-8 px-6 py-3 bg-white text-cyan-600 rounded-xl font-semibold">
            Shop Now
        </button>

    </div>

</section>

<!-- Content -->
<section class="max-w-7xl mx-auto px-6 py-10">

    <!-- Search + Sort -->
    <div class="flex flex-col md:flex-row gap-4 justify-between mb-8">

        <input
            id="searchInput"
            type="text"
            value="{{ search_query|default:'' }}"
            placeholder="Search products..."
            class="w-full md:w-96 px-4 py-3 border rounded-xl">

        <select
            id="sortSelect"
            class="px-4 py-3 border rounded-xl bg-white">

            <option value="">Sort By</option>
            <option value="name">Name</option>
            <option value="priceLow">Price Low → High</option>
            <option value="priceHigh">Price High → Low</option>

        </select>

    </div>

    <!-- Categories -->
    <div class="flex flex-wrap gap-3 mb-10">

        <a href="/catalog/" class="category-btn {% if not selected_category %}active{% endif %} px-4 py-2 bg-white border rounded-full" >All</a>
        
        {% for category in categories %}
        <a href="?category={{category}}" class="category-btn {% if category == selected_category %}active{% endif %} px-4 py-2 bg-white border rounded-full">
            {{ category }}
        </a>
        {% endfor  %}
        
    </div>

    <!-- Product Grid -->
    <div
        id="productGrid"
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">

        <!-- Product 1 -->
        {% for product in products %}
        <div
            class="product-card bg-white rounded-2xl overflow-hidden shadow hover:shadow-xl transition flex flex-col"
            data-name="gaming laptop"
            data-price="999"
            data-category="{{ product.category }}">

            <img
                src="{{ product.image_url }}" alt="{{ product.name }}"
                class="w-full h-60 object-cover">

            <div class="p-5 flex-col flex-grow">

                <span class="text-xs text-cyan-600 font-semibold uppercase">
                    {{product.get_category_display}}
                </span>

                <h3 class="font-bold text-lg mt-2  min-h-[60px] line-clamp-2">
                    {{ product.name}}
                </h3>

                <div class="mt-auto">
                <p class="text-2xl font-bold mt-3">
                     ₹{{ product.price }}
                </p>

                <a href="/details/{{product.id}}/"><button class="w-full mt-4 bg-cyan-600 text-white py-3 rounded-xl">
                    View Product
                </button></a>
            </div>
            </div>
            </div>
        {% endfor %}
    </div>
    
<!-- ********Pagination******* -->

<div class="flex justify-center items-center gap-4 mt-10">
    {% if page_obj.has_previous %}
    <a href="?page={{page_obj.previous_page_number}}"
       class="px-4 py-2 bg-white border rounded-lg shadow-sm hover:bg-cyan-600 hover:text-white transition">
        ← Previous
    </a>
    {% endif %}

    <span class="px-4 py-2 bg-cyan-600 text-white rounded-lg font-semibold">
        Page {{products.number}}
        of
        {{products.paginator.num_pages}}
    </span>

  {% if products.has_next %}
    <a href="?page={{products.next_page_number}}"
       class="px-4 py-2 bg-white border rounded-lg shadow-sm hover:bg-cyan-600 hover:text-white transition">
        Next →
    </a>
  {% endif %}

</div>

</section>

<script>

const buttons=document.querySelectorAll('.category-btn');

buttons.forEach(button => {
    button.addEventListener('click',()=>{
        button.classList.toggle('active');
    })
});

const sortSelect=document.getElementById("sortSelect");

sortSelect.addEventListener("change",()=>{
    const url=new URL(window.location);
    url.searchParams.set("sort",sortSelect.value);
    window.location=url;
});

//searching

const searchInput=document.getElementById("searchInput");

searchInput.addEventListener("keydown",(event)=>{
    if(event.key==="Enter"){
    
    const query=searchInput.value.trim();
    if(!query) return;

    const url=new URL(window.location);
    url.searchParams.set("search",query);
    window.location=url;
    }
})

</script>

</body>
</html>